<!-- Title Tags -->
{{ partial "title.html" . }}
<!-- Description Tags -->
{{ partial "description.html" .}}
<!-- Link Tags -->
{{ partial "links.html" . }}
<!-- Language Tags -->
{{ partial "language.html" . }}
 <!-- Image Tags -->
{{ partial "image.html" . }}
<!-- Date Tags -->
{{ partial "date.html" . }}
<!-- Tags for Article Pages -->
{{ partial "tags4art.html" . }}
<!-- Sitemap & RSS Feed Tags -->
{{ partial "meta4web.html" . }}
<!-- Social Media Tags -->
{{ partial "social.html" . }}
<!-- Other Tags -->
{{ partial "other.html" . }}
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
