<!-- Manifest File -->
<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />

<!-- Theme Color -->
<meta name="theme-color" content="#4c6cf4" />
<meta name="msapplication-TileColor" content="#4c6cf4" />

<meta name="keywords" content="Technology, Tech, Block, Vlog, Video Blog, Information Technology" />
<meta name="imagemode" content="force" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="HandheldFriendly" content="True" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />
